<!DOCTYPE html>
<html ng-app="almen">
  <head>
    <meta charset="utf-8">
    <title>TITLE</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/screen.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="css/leaflet.css">
  </head>
  <body ng-controller="MainCtrl">
    <leaflet center="map.latlng" zoom="map.zoom" marker="map.marker" draggable=false></leaflet>
    <div id="almen" ng-repeat="alm in almen">
      <div class="alm">
        <h1>{{alm.name}}<button ng-click="goTo(alm.pt)">Go</button></h1>
        <div ng-repeat="sp in alm.starting_points">
          <div class="starting_point">
            <button ng-click="goTo(sp)">Go</button>
            {{sp.name}} ({{sp.latlng.lat}}, {{sp.latlng.lng}})</div>
        </div>
      </div>
    </div>
    <script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/leaflet.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/angular-leaflet-directive.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
